div {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.frame {
    width: 500px;
    background: #eee;
    padding: 30px;
    
}

.mail {
    margin-bottom: 0;
}

input[type=email] {
    width:95%;
    height: 30px;
    border: 2px solid gray;
    border-radius: 3px;
}

.name {
    width: 50%;
    display: inline-block;
}

#name-input {
    width: 90%;
    height: 30px;
    border: 2px solid gray;
    border-radius: 3px;
}
 
#message-input {
    width: 95%;
    height: 100px;
    border: 2px solid gray;
    border-radius: 3px;
}

#subscribe {
    margin-top: 30px;
}

button {
    width: 25%;
    height: 30px;
    position: relative;
    background: rgb(255, 200, 0);
    border: none;
    border-radius: 3px;
    left: 49%;
}