.container {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.left {
    width: 75%;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 25%;
    height:200px;
    display: inline-block;
}

.image {
    width: 85%;
    padding: 10px;
}

.top {
    width:100%;
    height: 30%;
}

.bottom {
    width:100%;
    height: 70%;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background: #eee;
    padding: 5px;
}

.navbar a {
    font-size: 16px;
    text-decoration: none;
}